@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100vw;
    height: 80px;
    border-bottom: 3px solid #F65D09;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    margin-bottom: 5rem;
}

header img {
    width: 56px;
    height: 55px;
}

.senhacontainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formcontainer{
    width: 556px;
    height: 657px;
    background-color: white;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px #00000040;
    flex-direction: column;
}

.senha form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.senhaname{
    width: 120%;
}

.senhaname h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #393939;
    text-align: center;
    position: relative;
    margin-bottom: -0.5rem;
}

.senhaname h1::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 58px;
    width: 5px;
    left: 90px;
    background: linear-gradient(#F65D09, #FECC17);
    border-radius: 50px;
}

.textinho{
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.textinho p{
    text-align: center;
}

#email {
    border: none;
    width: 25rem;
    height: 67px;
    background-color: #E7E7E7;
    border-radius: 14px;
    padding-left: 46px;
}

#enviar {
    border: none;
    width: 12rem;
    height: 67px;
    border-radius: 14px;
    background-color: #F65D09;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.senha input{
    font-size: 20px;
}

.senha input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #979797;
    font-size: 20px;
}

#password{
    margin-top: 2rem;
}

.seta{
width: 85%;
display: flex;
margin-bottom: 1rem;
}

.fa-arrow-left{
    font-size: 2.2rem;
    text-align: left;
    color: #F65D09;
}

.error {
    font-family: "Poppins", sans-serif;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 1rem;
}

.success {
    font-family: "Poppins", sans-serif;
    color: green;
}