@media screen and (max-width: 800px) {
    body {
        background-color: white;
        min-height: 100vh;
        min-width: 100vw;
    }

    header{
        min-width: 100vw;
    }

    .formcontainer {
        background-color: transparent;
        box-shadow: none;
        max-width: 50vw;
        height: 60vh;
    }

    #enviar{
        max-width: 23rem;
    }

    .registrocontainer{
        margin-bottom: 50px;
    }

    #registro-login{
        margin-top: 50px;
    }

    #username,
    #password,
    #email,
    #password2{
        max-width: 20rem;
        height: 67px;
    }
}